h {
  font-family : 'palatino';
  font-size : 60px;
  padding-bottom : 10px;
  padding-left : 10px;
  text-transform : uppercase;
  text-align: center;
  color : white;
}


h2 { font-family :'raleway-regular';
  font-size : 20px;
  padding-bottom : 5px;
  color : white ;
  margin-bottom : 10px;
  text-align : left;
  
}

h3 { font-family :'raleway-regular';
  font-size : 20px;
  padding-bottom : 5px;
  color : yellow ;
  margin-bottom : 10px;
  text-align : left;
  
}




h4 {
  font-family :'Baskerville-SemiBold';
  font-size : 20px;
  padding-top : 12.5px;
  color : black ;
  margin-bottom : 10px;
  text-align : center;
  }


h5 { font-family :'raleway-regular';
  font-size : 16.5px;
  padding-top : 15px;
  color : white ;
  margin-bottom : 10px;
  text-align : center;
  text-decoration : none;
}
  

h6 {
  font-family : 'Minion Pro';
  font-size : 50px;
  padding-bottom : 10px;
  color : white;
}


nav {
    text-transform : uppercase;
    padding-top :12px;
}

section {font-family : 'calibri', sans-serif;
    font-size : 13px;
   
}
     
     
nav .selalukananatas { text-align : center;
                       font-size :22px;
}

section a { font-size : 20px;
            color : black
}





h4:hover {
  font-family :'Baskerville-SemiBold';
  font-size : 23px;
  padding-top : 12px;
  margin-bottom : 10px;
  text-align : center;
  color : yellow;
  transition : 0.3s ;
  }


  


@media (max-width: 1024px){
  

